<!-- <div *ngIf="undefined === teamPlayers">Loading...</div> -->
<div *ngIf="undefined !== teamPlayers"> 
  <table>
    <tr><td colspan="3"><h1> Players List</h1></td></tr>
    <tr>
        <th>Player Pic</th>
        <th>Player Name</th> 
        <th>Team Name</th>
    </tr>
    <tr *ngFor="let player of teamPlayers">        
        <td><img src="http://127.0.0.1:8000{{player.imageUri}}" height=50px;/></td>       
        <td>{{player.firstName}} {{player.lastName}}</td> 
        <td>{{player.name}}</td>
    </tr>
  </table>   
</div>

